body {
  transition: 0.5s ease;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  padding-bottom: 10px;
}

img {
  max-width: 70%;
  margin-left: 10px;
  transition: 0.5s ease;
  margin-top: 20px;
}

.side-nav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(23, 26, 38, 0.0);
  transition: 0.5s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  ul {
    font-size: 0.6rem;
  }

  li {
    padding-bottom: 20px;
  }
}
