body {
  transition: 0.5s ease;
}

#wolfpic {
  border-radius: 10px;
  max-width: 50%;
}

/* @media (max-width: 1000px) {
  #about-card-1,
  #about-card-2 {
    width: 90%;
    margin: 10px;
  }
} */
