body {
  transition: 0.5s ease;
}

#wolfpic {
  border-radius: 10px;
  max-width: 50%;
}

#about-card-1,
#about-card-2 {
  margin: 10px;
  width: 70%;
  border-radius: 10px;
  justify-content: center;
  background-color: rgb(23, 26, 38, 0.9);
  margin-left: 230px;
}

.about-card {
  color: #f7f7ff;
}

@media (max-width: 1000px) {
  #about-card-1,
  #about-card-2 {
    width: 90%;
    margin: 10px;
  }
}
