@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

main {
  margin: 0 auto;
  width: 80%;
  padding: 50px 30px;
}

:root {
  --dark: #171a26;
  --white: #f7f7ff;
  --pink: #d25da6;
  --onyx: #3a3e40;
  --silver: #9ea0a2;
  --yellow: #eefc7a;
  --green: #70f87e;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  background-image: url('./assets/cover/circuts.jpg');
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: #f7f7ff;
  letter-spacing: 0.2rem;
  transition: 0.5s ease;
}
