@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --dark: rgb(23, 26, 38);
  --white: #f7f7ff;
  --pink: rgb(210, 93, 166);
  --onyx: #3a3e40;
  --silver: #9ea0a2;
  --yellow: rgb(238, 252, 122);
  --green: #70f87e;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  transition: 0.5s ease;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--dark);
  background-image: linear-gradient(
    to left top, rgba(238, 252, 122, 0.5),
    rgba(23, 26, 28)) ;
    /* url(./assets/cover/circuts.jpg); */
  color: var(--white);
  font-family: 'Roboto Mono', monospace;
}

/* .typography-default {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

a:hover {
  color: #f7f7ff;
  letter-spacing: 0.2rem;
  transition: 0.5s ease;
}
